<nav class="flex justify-between items-center h-12 w-full absolute left-0 top-0 <%= scheme %>">
  <div class="flex w-1/3 justify-between items-center mx-auto">
    <a class="text-neon-blue hover:text-neon-green transition-all hover:transition-all hover:cursor-pointer">Light</a>
    <a class="text-neon-blue hover:text-neon-green transition-all hover:transition-all hover:cursor-pointer">Dark</a>
    <a class="text-neon-blue hover:text-neon-green transition-all hover:transition-all hover:cursor-pointer">Neon</a>
  </div>
</nav>
